@charset "utf-8";

/* 영화차트 리스트 */

[class|="sect-base"] .score .egg-gage {
  margin-top: -8px;
  margin-left: 2px;
  padding-left: 6px;
  background: url("../images/common/bg/bg_writeinfo.gif") 0 12px no-repeat;
}
