@charset "utf-8";



.header {
  position: relative;
  z-index: 101;
}
.header .contents {
  max-width: 980px;
  margin: 0 auto;
}
.header_content {
  margin-bottom: 20px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
.header_content .contents {
  display: flex;
  padding: 30px 6px 25px 5px;
  background-color: #fff;
}
.header_content .contents h1 {
  display: inline-flex;
  align-items: flex-end;
  height: 53px;
}
.header_content .contents h1 a {
  display: block;
  float: left;
  height: 100%;
}
.header_content .contents h1 a img {
  display: block;
  width: auto;
  height: 100%;
  object-fit: contain;
}
.header_content .contents h1 span {
  font-weight: 300;
  font-size: 16px;
  color: #222;
  letter-spacing: 0.313em;
  line-height: 1.5em;
}
.header_content .contents .memberInfo_wrap {
  display: flex;
  align-items: center;
  margin-left: 450px;
}
.header_content .contents .memberInfo_wrap li {
  margin-left: 44px;
  margin-top: 15px;
}
.header_content .contents .memberInfo_wrap li:first-child {
  margin-left: 0;
}
.header_content .contents .memberInfo_wrap li a {
  display: block;
  position: relative;
  padding-bottom: 19px;
}
.header_content .contents .memberInfo_wrap li a img {
  width: 36px;
  height: 36px;
}
.header_content .contents .memberInfo_wrap li a span {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 13px;
  color: #666;
  line-height: 1.462em;
  white-space: nowrap;
  transform: translate(-50%, 0);
}
.header_content .contents .memberInfo_wrap li.ad_partner {
  width: 136px;
  height: 39px;
  margin-top: 5px;
}
.header_content .contents .memberInfo_wrap li.ad_partner + li {
  margin-left: 34px;
}
.header_content .contents .memberInfo_wrap li.ad_partner a {
  width: 100%;
  height: 100%;
  padding-bottom: 0;
}
.header_content .contents .memberInfo_wrap li.ad_partner a img {
  width: 100%;
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

/* S > GNB
	Description
	- class 'nav' 에 class 'active' 추가시 서브메뉴노출
	- class 'nav' 에 class 'fixed' 추가시 상단고정되며 스타일 변경됨
 */
.nav {
  position: absolute;
  left: 0;
  top: 113px;
  width: 100%;
  padding: 5px 0;
  background-color: #fff;
  border-top: 1px solid #eee;
}
.nav:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 49px;
  width: 100%;
  height: 2px;
  background-color: #fb4357;
}
.nav:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
}
.nav .contents {
  position: relative;
}
.nav .contents h1 {
  display: none;
}

.nav_menu {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.nav_menu > li {
  width: 162px;
  padding: 20px 0;
}
.nav_menu > li:first-child {
  width: 137px;
}
.nav_menu > li:first-child .nav_overMenu {
  padding-left: 0;
}
.nav_menu > li:first-child .nav_overMenu:before {
  content: none;
}
.nav_menu > li:last-child {
  width: 195px;
}
.nav_menu > li:nth-child(2) > h2 {
  left: 80px;
}
.nav_menu > li:nth-child(3) > h2 {
  left: 160px;
}
.nav_menu > li:nth-child(4) > h2 {
  left: 240px;
}
.nav_menu > li:nth-child(5) > h2 {
  left: 335px;
}
.nav_menu > li:last-child > h2 {
  left: 430px;
}

.nav_menu > li > h2 {
  position: absolute;
  top: 7px;
}
.nav_menu > li > h2 > a {
  font-weight: 500;
  font-size: 16px;
  color: #222;
  line-height: 1.5em;
}
/* .nav_menu > li > h2 > a:hover{text-decoration:underline} */
.nav_menu > li > h2 > a strong {
  font-weight: 700;
  color: #fb4357;
}
.nav_overMenu {
  /* display: none; */
  position: relative;
  margin-bottom: 8px;
  padding: 25px 0 0 25px;
}
.nav_overMenu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 45px;
  display: block;
  width: 1px;
  height: 250px;
  background-color: #eee;
  opacity: 0.8;
}
.nav_overMenu h3 {
  height: auto;
  margin: 0;
  line-height: 1em;
  text-align: left;
  background-image: none;
}
.nav_overMenu a:hover {
  text-decoration: underline;
}
.nav_overMenu dt {
  padding-top: 18px;
}
.nav_overMenu dt a {
  font-weight: 700;
  font-size: 14px;
  color: #222;
  line-height: 1.429em;
}
.nav_overMenu dt + dd {
  margin-top: 8px;
}
.nav_overMenu dd a {
  font-weight: 400;
  font-size: 14px;
  color: #666;
  line-height: 2.143em;
}
.nav_overMenu dd a.arrowR:after {
  content: "";
  display: inline-flex;
  align-self: center;
  width: 5px;
  height: 9px;
  margin-left: 4px;
  background: transparent
    url("https://img.cgv.co.kr/R2014/images/common/ico/arrowR_5x9.png")
    center/5px 9px scroll no-repeat;
}

.totalSearch_wrap {
  display: inline-flex;
  position: absolute;
  margin-top: 23px;
  margin-left: 380px;
}
.totalSearch_wrap:before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 1px;
  height: 20px;
  background-color: #cacaca;
}
.totalSearch_wrap:after {
  content: "";
  position: absolute;
  right: 0;
  top: 2px;
  width: 1px;
  height: 20px;
  background-color: #cacaca;
}
.totalSearch_wrap label {
  display: block;
}
.totalSearch_wrap label input[type="text"] {
  width: 180px;
  height: auto;
  padding: 0 0 0 7px;
  font-size: 16px;
  color: #222;
  line-height: 1.5em;
  border: none;
}
.totalSearch_wrap .btn_totalSearch {
  display: block;
  position: absolute;
  right: 10px;
  top: -1px;
  width: 26px;
  height: 26px;
  font-size: 0;
  line-height: 0;
  background: transparent
    url("https://img.cgv.co.kr/R2014/images/common/ico/search.png") center
    center/26px scroll no-repeat;
}

.totalSearch_wrap.active .totalSearchAutocomplete_wrap {
  display: block;
}

.totalSearchAutocomplete_wrap {
  display: none;
  position: absolute;
  left: 0;
  top: 43px;
  width: 100%;
  min-width: 238px;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.1);
}
.totalSearchAutocomplete_list {
  padding: 16px 22px;
  border-bottom: 1px solid #f4f4f4;
}
.totalSearchAutocomplete_list dt {
  font-weight: 500;
  font-size: 16px;
  color: #222;
  line-height: 1.5em;
}
.totalSearchAutocomplete_list dt + dd {
  margin-top: 5px;
}
.totalSearchAutocomplete_list dd a {
  font-size: 14px;
  color: #222;
  line-height: 2.214em;
}
.totalSearchAutocomplete_list dd a strong {
  font-weight: 400;
  color: #fb4357;
}

.btn_totalSearchAutocomplete_close {
  float: right;
  margin: 4px 13px 9px;
  padding-right: 15px;
  font-size: 12px;
  color: #666;
  line-height: 1.417em;
  background: transparent
    url("https://img.cgv.co.kr/R2014/images/common/btn/autocompleteClose.png")
    right center/11px scroll no-repeat;
}

.nav.active .nav_overMenu {
  display: block;
}

.nav.fixed {
  position: fixed;
  top: 0px;
  min-width: 1040px;
  padding: 10px 0;
}
.nav.fixed:after {
  top: 0;
  bottom: auto;
  height: 60px;
  background-image: linear-gradient(
    to right,
    rgb(215, 67, 87),
    rgb(241, 79, 58) 59%,
    rgb(239, 100, 47)
  );
  z-index: 1;
}
.nav.fixed .contents {
  z-index: 2;
}
.nav.fixed .contents h1 {
  display: block;
  position: absolute;
  left: 0;
  top: 1px;
  width: 70px;
  height: 32px;
  z-index: 3;
}
.nav.fixed .contents h1 a {
  display: block;
}
.nav.fixed .contents h1 a img {
  width: 100%;
  height: 100%;
}
.nav.fixed .contents .nav_menu > li:first-child > h2 {
  left: 120px;
}
.nav.fixed .contents .nav_menu > li:nth-child(2) > h2 {
  left: 200px;
}
.nav.fixed .contents .nav_menu > li:nth-child(3) > h2 {
  left: 280px;
}
.nav.fixed .contents .nav_menu > li:nth-child(4) > h2 {
  left: 360px;
}
.nav.fixed .contents .nav_menu > li:nth-child(5) > h2 {
  left: 455px;
}
.nav.fixed .contents .nav_menu > li:last-child > h2 {
  left: 550px;
}
.nav.fixed .contents .nav_menu > li > h2 > a {
  color: #fff;
}
.nav.fixed .contents .nav_menu > li > h2 > a strong {
  color: #fff;
}
.nav.fixed .contents .totalSearch_wrap:before,
.nav.fixed .contents .totalSearch_wrap:after {
  background-color: #000;
  opacity: 0.2;
}
.nav.fixed .contents .totalSearch_wrap label input[type="text"] {
  color: #fff;
  background-color: transparent;
}
.nav.fixed .contents .totalSearch_wrap .btn_totalSearch {
  background: transparent
    url("https://img.cgv.co.kr/R2014/images/common/ico/search_w.png") center
    center/26px scroll no-repeat;
}
.nav.fixed .contents .totalSearchAutocomplete_wrap {
  position: absolute;
  left: 0;
  top: 49px;
}

/* 헤더 광고 영역 */
.im-wrap .ad-partner {
  position: absolute;
  top: 16px;
  left: 754px;
}
.im-wrap .ad-partner > iframe,
.im-wrap .ad-partner > a,
.im-wrap .ad-partner > a > img {
  width: 133px;
  height: 42px;
  display: block;
  background: #fef8dc;
}