* {margin:0; padding: 0;}


.agreement {
    overflow:scroll; width:900px; height:90px; font-size: 13px;  background-color: white;
}
.agreeArea {
    text-align: left;
    margin-left: 20px;
}

#header {background-color: #222222; }
#header .word { max-width: 1200px; min-width: 900px; margin: 0 auto; display: flex; color: #8f8f8c; height: 90px; display: flex; justify-content: space-between; }
#header .word h2 img {width: 62px; height: 30px; } 
#header .word h2:nth-child(1) {line-height: 100px; font-weight: lighter; font-size: 18px;} 
#header .word h2:nth-child(2) {line-height: 90px; font-weight: 500; font-size: 18px;} 

#join {max-width: 900px; margin: 50px auto;}
#join h1 {text-align: center; font-size: 50px; font-weight: 600; margin-bottom: 100px;}

fieldset  {border: none; border-top:1px solid black; background-color: #f8f8f8; text-align: center;}
legend {display: none; }

.cf {text-align: left; display: flex; margin: 10px 0 ;}


    
.tit_lbl { padding-left: 20px;}
ul, li {list-style: none;}
#join {margin: 30px auto;}
.ico_space { margin: 10px 0px;}

.appForm .app_list { padding:15px 0;
}
.appForm .app_list li { padding:8px 0}  
.appForm .app_list li .tit_lbl { 
float:left; width:150px; line-height:42px;  
font-weight:bold; font-size:17px; letter-spacing: -2px;}  
.appForm .app_list li .app_content {float:right; width:calc(100% - 150px); } 
.appForm input[type=text],
.appForm input[type=password] { height:45px; 
border:1px solid #ccc; width:50%; padding:0 10px; 
}
.appForm input[type=text]:hover,
.appForm input[type=password]:hover { background: #f1f1f1; }
.appForm input.w160 { width:160px }

.appForm .idcheck {
display:inline-block;
height:45px; 
line-height:45px; 
padding:0 10px;
background:#222222;
border-radius:10px; 
font-size:14px; color:#aaa; 
text-decoration: none;
}
.radio_area .css-radio {display: none; }
.css-radio:checked + label {
    background:#222222;
} 
.radio_area label { display:inline-block; 
    width:60px; text-align:center; 
    background:#999; color:#fff; 
    border-radius: 99px;
    /* padding:5px 0; */
    height:30px; line-height:30px; 
    margin:5px 5px; 
}
.btn_line { border: 0px solid black; padding: 20px 0;}
.btn_line .btn { width: 300px; height: 50px; border-radius: 300px;
    border: 1px solid white;
    background: linear-gradient(45deg, #D74357, #EF642F);
    color: #FFFEFE; font-weight: bolder; font-size: 16px; letter-spacing: 0px; font-family: sans-serif;
    /* box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.3); */

}