* {
    text-decoration: none;
}

.row {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 10px;
}

body {
    font-size: 14px;
    color: #666;
    font-family: "Noto Sans KR", sans-serif;
}


ul {
    list-style: none;
}

fieldset {
    border: none;
    /* border-top: 2px solid #999;
    border-bottom: 1px solid #999; */
    text-align: center;
    margin-right: 100px;
}


legend {
    display: none;
}

.guide {
    font-size: 13px;
    line-height: 1.2;
    color: #666;
}

#login {
    min-width: 900px;
    max-width: 900px;
    margin: 50px auto;
}


.loginbox {
    display: flex;
}

.loginbox::after {
    content: '';
    clear: both;
    display: block;
}

.loginbox div p input:focus {
    outline: none;
}

.loginbox div p input {
    width: 300px;
    border: none;
    border-bottom: 1px solid #b5b5b5;
    height: 35px;
    padding: 0 5px 0 40px;


}

.loginbox div p:nth-child(1) label {
    display: none;
}

.loginbox div p:nth-child(1) input {
    background: url(../image/sprite_icon.png) 12px -230px no-repeat;
}

.loginbox div p:nth-child(2) label {
    display: none;
}

.loginbox div p:nth-child(2) input {
    background: url(../image/sprite_icon.png) 12px -261px no-repeat;
}

.btn {
    width: 400px;
    height: 42px;
    margin: auto;
}

.btn button {
    width: 400px;
    height: 42px;
    line-height: 37px;
    padding: 2px;
    background: linear-gradient(45deg, #FB4457, #EF642F);
    border-radius: 24px;
    border: 1px solid white;
    cursor: pointer;
    color: white;
    font-weight: bold;
    box-shadow: 0 8px 14px -5px rgba(0, 0, 0, 0.26);
}

#login .loginbox .sns_login {
    margin-top: 30px
}

#login .loginbox .sns_login li a {
    display: block;
    width: 216px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    color: #fff;
    font-size: 13px;
    margin: 5px 0;
}


.login-option {
    font-size: 13px;
    padding-left: 20px;
    margin: 8px 0px 0px 0px;
}

.login-option a {
    padding-right: 30px;
    line-height: 1.2;
    color: #666;
    text-decoration: underline;

}

.login-option a:nth-child(1) {
    background: url(../image/bg_arrow03.png) no-repeat 91px 5px;
}

.login-option a:nth-child(2) {
    background: url(../image/bg_arrow03.png) no-repeat 81px 5px;
}




.login_guide {
    width: 1200px;
    text-align: start;
    margin-top: 100px;
    padding: 20px 20px;
    font-size: 13px;
    color: #666;
    max-width: 796px;
    background-color: #EEEEEE;
    display: flex;
    position: relative;
}

.login_guide p a {
    text-decoration: none;
    color: inherit;
}

.login_guide p:nth-child(1) {
    font-weight: bolder;
    font-size: 14px;
    margin-left: 20px;
}

.login_guide p:nth-child(2) {
    position: absolute;
    left: 20%;
    top: 25%;
}

.login_guide p:nth-child(3) {
    border: 1px solid black;
    width: 100px;
    height: 40px;
    position: absolute;
    left: 70%;
    top: 10%;
    line-height: 40px;
    text-align: center;
    font-weight: 600;
}

.login_guide p:nth-child(3):hover {
    background-color: #333;
    transition: all 0.5s;
    color: white;
}

.sns_login div button {
    width: 400px;
    height: 48px;
    border-radius: 24px;
    border: 1px solid #9197a3;
    background: white;
    color: black;
    font-size: 16px;
    letter-spacing: 0px;
    ;
    font-size: 13px;
}

.sns_login div {
    margin: 5px 0;
}

.id_save {
    text-align: center;
    margin: 0 0 10px 250px;
    font-weight: 100;
    letter-spacing: -1px;
    font-size: 14px;
}

button {
    cursor: pointer;
}